*{
    text-align: center ;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    background-color: rgb(109, 144, 100);
}
body{
    width: 700px;
    margin: auto; /* 너비에서 남는 여백을 동일하게 분배 */
}
h1{
    color: rgb(223, 236, 201);
}
h3, p,ul,li{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 10px;
}
ul{
    padding-left: 25px;
}

#profileimage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.introduce{
    background-color: rgb(250, 248, 238);
    padding: 30px 60px;
    border: 1px;
    border-radius: 1%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}