@media all and (min-width:1200px){
    
    header, section, footer{
        width: 100%;
        float: left;
        position: relative;
    }

    #in_header , #container{
        width: 1200px;
        height: 100%;
        background-color: lavender;
        margin: 0 auto;
    }

    #mo_wrap{
        display: none;
    }

    #wrap{
        width: 100%;

    }

    header{
        height: 100px;
        background-color: palegoldenrod;
        text-align: center;
        z-index: 9999;
        
    }

    #logo{
        width: 150px;
        height: 100%;
        float: left;
        background-color: palegreen;
        font: 900 26px/100px '';
    }
   
    #gnb{
        width: 960px;
        height: 80px;
        background-color: palegreen;
        float: right;
    }

    .top_menu{
        width: 20%;
        height: 100%;
        float: left;
        line-height: 80px;
    }
    .top_menu:hover{
        background-color: paleturquoise;

    }
    .top_menu:hover>.sub_menu{
        height: 150px;
    }

    .sub_menu{
        width: 100%;
        height: 0;
        overflow: hidden;
        transition-duration: 0.5s;
        background-color: lavenderblush;
        line-height: 50px;
        
    }
    
    .sub_menu>li{
        width: 100%;
        height: 50px;
        border-bottom: 1px solid lightblue;
        box-sizing: border-box;
    }

    .sub_menu>li:hover{
        background-color: aliceblue;
    }
    /* header end */

    #section_1{
        height: 300px;
        background-color: paleturquoise;
    }
    /* section_1 end */

    #section_2{
        background-color: papayawhip;
       
        padding: 30px 0;
    }

    #top_wrap{
        width: 100%;
        height: 100px;
        background-color: palegreen;
    }

    #top_wrap>li{
        width: 380px;
        height: 100%;
        background-color: paleturquoise;
        float: left;
        margin-right: 30px;
    }
    #top_wrap>li:last-child{
        margin-right: 0;
    }
    #bottom_wrap{
        width: 100%;
        overflow: hidden;
        background-color: lavender;
        margin-top: 30px;
    }

    .con{
        width: 50%;
        height: 100%;
        background-color: rgb(188, 223, 253);
        float: left;
    }

    .con>li{
        width: 190px;
        height: 30px;
        background-color: palevioletred;
        float: left;
        margin-right: 15px;
        transition-duration: 0.5s;
    }
    .con>li:last-child{
        margin-right: 0;
    }

    .con>li:hover{
        height: 100px;
    }

    /* secton_2 end */

    footer{
        height: 100px;
        background-color: khaki;
    }
/* footer end */



}