/* 모든 요소의 기본 여백 제거 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HTML과 Body의 기본 설정 */
html, body {
	height: 100%;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
	margin-bottom: 2rem;
}

.menu{
	height: 1.2rem;
	display: flex;
	flex-direction: row;
	margin-left: 0.5rem;
	align-items: flex-end;
}

.circle{
	width: 1rem;
	height: 1rem;
	border-radius: 1.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.2rem;
}

.red{
	background-color: rgb(255, 106, 84);
}

.yellow{
	background-color: rgb(255, 222, 59);
}

.green{
	background-color: rgb(57, 171, 57);
}

.calculator-container{
	width: 28rem;
	height: 40rem;
	padding: 1.6rem;
	margin-bottom: 2rem;
	border: 0.1rem solid rgb(167, 167, 167);
	background-color: rgb(207, 222, 218);
	border-radius: 25px;
	display: flex;
	flex-direction: column;
}

.calculator-container {
    /* position: absolute; */
    /* top: 50%; 
    left: 50%; */
}


.display{
	border:0.1rem solid rgb(177, 177, 177);
	border-radius: 1rem;
	background-color: white;
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
	padding: 1rem;
	height: 4.8rem;

	font-size: 2.6rem;
	text-align: right;
}

.buttons{
	flex-grow: 1;

	/* flex 사용 */
	display: flex;
	flex-wrap: wrap;
	gap: 0.3rem;

	/* grid 사용 */
	/* display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(5,1fr);
	gap: 0.2rem; */

}

.button{
	font-size: 1.5rem;
	text-align: center;

	/* flex 사용 */
	/* flex-basis: calc(25% - 0.15rem); */
	flex-basis: calc(25% - 0.3rem);

	border-radius: 5rem;
	border: 0.1rem solid rgb(171, 171, 171);
	background-color: rgb(147, 197, 178);
}

.button:hover{
	/* background-color: rgb(182, 210, 200); */
	filter: invert(15%);
	border: 0.1rem solid rgb(173, 173, 173);
}

.button:active{
	/* background-color: rgb(127, 155, 145); */
	filter: invert(25%);
}

.zero{
	/* flex 사용 */
	/* flex-grow: 1; */
	flex-basis: calc(50% - 0.3rem);

	/* grid 사용 */
	/* grid-column: 1 / span 2; */
}

.function{
	background-color: rgb(197, 197, 197);
}

.number{
	background-color: rgb(250, 255, 253);
}